@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


body{
    background-image: url("brewery.jpg");
}

.card{

    border: 1px solid rgba(20, 20, 20, 0.534);
    border-radius: 20px;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    background: rgb(255, 255, 255);
    box-shadow: 2px 4px 5px 3px rgba(32, 32, 32, 0.5);
}

.image{

    padding: 20px;
}


img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

h1{
    text-align: center;
}

p{
    font-size: 18px;

}

.description{
    height: 50%;
    padding: 10px;
    text-align: left;
    padding: 20px;
}